
<h1 style="text-align:center">Go ahead, buy the stock. I'm sure you're gonna get it right this time. (maybe)</h1>

</br>
<h2 style="text-align:center">Check out the reviews of our satisfied clients:</h2>

<div class="container">
    <div class="row">
        <div class="container">
            </br>
            <div class="row">
                <blockquote class="quote-card col-md-6">
                    <p>
                        11/10 would lose my money here again.
                    </p>

                    <cite>
                        Jack - Homeless
                    </cite>
                </blockquote>

                <blockquote class="quote-card blue-card col-md-6">
                    <p>
                        If you taught you're in crippling debt, just wait until you try this website.
                    </p>

                    <cite>
                        Karen - Call Center Operator
                    </cite>
                </blockquote>
            </div>

            <div class="row">
                <blockquote class="quote-card col-md-6">
                    <p>
                        I joined this website because I was poor. Now I'm poorer.
                    </p>

                    <cite>
                        Mark - Art Student
                    </cite>
                </blockquote>

                <blockquote class="quote-card blue-card col-md-6">
                    <p>
                        Everything on this website is free, including losing money.
                    </p>

                    <cite>
                        Brad - Motivational Speaker
                    </cite>
                </blockquote>
            </div>

            <div class="row">
                <blockquote class="quote-card col-md-6">
                    <p>
                        Jimmy is gonna be pissed when he finds out I just lost his college fund.
                    </p>

                    <cite>
                        Walter - Jimmy's Dad
                    </cite>
                </blockquote>

                <blockquote class="quote-card blue-card col-md-6">
                    <p>
                        Now I have flashbacks everytime I hear the word 'stock'.
                    </p>

                    <cite>
                        Jack - Vietnam Veteran
                    </cite>
                </blockquote>
            </div>

            <div class="row">
                <blockquote class="quote-card col-md-6">
                    <p>
                        Buy high. Sell low. It's that easy.
                    </p>

                    <cite>
                        Susan - Professional Investor
                    </cite>
                </blockquote>

                <blockquote class="quote-card blue-card col-md-6">
                    <p>
                        This website is the most social acceptable way of fueling my gambling addiction.
                    </p>

                    <cite>
                        Mike - Former Poker Player
                    </cite>
                </blockquote>
            </div>

            <div class="row">
                <blockquote class="quote-card col-md-6">
                    <p>
                        Stonks.
                    </p>

                    <cite>
                        That meme guy idk
                    </cite>
                </blockquote>

                <blockquote class="quote-card blue-card col-md-6">
                    <p>
                        I'm writing this review before they cut off my internet because I couldn't pa 
                    </p>

                    <cite>
                        Michale - Not with us anymore
                    </cite>
                </blockquote>
            </div>

        </div>
        </div>
</div>